// Primary palette:
// (1) primaryBlue:  Use for primary actions, buttons, text links, for indicating
//                   progress and representing authentication
// (2) primaryDark:  Use for body text and headings
// (3) primaryLight: Use for page backgrounds

//Dark Colors
$primaryDark: #172B4D;
$secondaryDark: #253858;
$tertiaryDark: #42526E;

//Mild Colors
$primaryMild: #505F79;
$secondaryMild: #7A869A;
$tertiaryMild: #A5ADBA;

//Light Colors
$primaryLight: #FFFFFF;
$secondaryLight: #F4F5F7;
$tertiaryLight: #DFE1E6;

//Red Colors
$primaryRed: #DE350B;
$secondaryRed: #FF8F73;
$tertiaryRed: #FFBDAD;

//Yellow Colors
$primaryYellow: #FF991F;
$secondaryYellow: #FFC400;
$tertiaryYellow: #FFF0B3;

//Green Colors
$primaryGreen: #00875A;
$secondaryGreen: #57D9A3;
$tertiaryGreen: #ABF5D1;

//Blue Colors
$primaryBlue: #0052CC;
$secondaryBlue: #2684FF;
$tertiaryBlue: #B3D4FF;

//Teal Colors
$primaryTeal: #00A3BF;
$secondaryTeal: #00C7E6;
$tertiaryTeal: #B3F5FF;

//Purple Colors
$primaryPurple: #5243AA;
$secondaryPurple: #8777D9;
$tertiaryPurple: #C0B6F2;